.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.modal.visible {
    display: flex;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background-color: var(--md-sys-color-background);
    border: 1px solid grey;
    border-radius: 8px;
    box-shadow: var(--box-shadow-around);
    width: auto;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    padding: 20px;
}

.close {
    color: var(--md-sys-color-on-background);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
