@using PlanningPoker.Infrastructure.Images
@using PlanningPoker.Website.Components.Basics

<Button OnClick="() => ToggleTheme()" LeadingIcon="@(darkMode ? IconType.DarkMode : IconType.LightMode)"></Button>
